$bgColor:           #eee;
$itemBackground:    #fff;
$highlightColor:    #f0f0f0;
$borderColor:       #ddd;
$shadowColor:       #ccc;
$avatarBackground:  #fd7400;
$avatarFontColor:   #fff;
$fontColor:         #444449;