@import './common/common';

body {
  background-color: $bgColor;
  color: $fontColor;
}

app {
  header {
    padding-top: 30px;
    padding-bottom: 15px;

    h3 {
      font-weight: bolder;
    }
  }
  .content-box {
    background-color: $itemBackground;
    -webkit-box-shadow: 0px 2px 5px 0px $shadowColor;
    -moz-box-shadow: 0px 2px 5px 0px $shadowColor;
    box-shadow: 0px 2px 5px 0px $shadowColor;
  }
}
