@import '../../common/common';

.message-info {
  padding: 20px;

  div {
    display: flex;
    align-items: center;
  }

  .column {
    min-width: 55px;

    .avatar {
      background-color: $avatarBackground;
      border-radius: 600px;
      color: $avatarFontColor;
      display: inline-block;
      font-family:sans-serif;
      font-size: 30px;
      line-height: 50px;
      text-align:center;
      text-decoration:none;
      min-width: 50px;
      -webkit-text-size-adjust:none;
    }

    .from, .subject {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

}