<div class="message-info row">
    <div class="column col-sm-1">
        <span class="initial" ng-bind="$ctrl.message.initial"></span>
    </div>
    <div class="column col-sm-3">
        <span class="from" title="{{$ctrl.message.from}}" ng-bind="$ctrl.message.from"></span>
    </div>
    <div class="column col-sm-5">
        <span class="subject" title="{{$ctrl.message.subject}}" ng-bind="$ctrl.message.subject"></span>
    </div>
    <div class="column col-sm-3">
        <span ng-bind="($ctrl.message.date | date: $ctrl.dateFormat)"></span>
    </div>
</div>
